<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>ATG</title>
    <style>
        body {
            background-image: url("Image/samantha-gades-BlIhVfXbi9s-unsplash.jpg");
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center;
            background-size: cover;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <a class="navbar-brand" href="#">Automatic Timetable Generator</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="Login.html">Login</a>
                </li>
            </ul>
        </div>
    </nav>
    <br>
    <div class="containe" style="margin: 20px;">
        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4">
                    <img class="card-img-top" src="Image/information-desk.svg" alt="Card image" style="width:100%; height: 225px; text-align: center;">
                    <div class="card-body">
                        <h4 class="card-title" style="text-align: center; text-decoration: solid;">ONLINE HELP</h4>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card mb-4">
                    <img class="card-img-top" src="Image/folder.svg" alt="Card image" style="width:100%; height: 225px; text-align: center;">
                    <div class="card-body">
                        <h4 class="card-title" style="text-align: center; text-decoration: solid;">
                            <a href="createnew.html">CREATE NEW</a>
                        </h4>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4">
                    <img class="card-img-top" src="Image/picture.svg" alt="Card image" style="width:100%; height: 225px; text-align: center;">
                    <div class="card-body">
                        <h4 class="card-title" style="text-align: center; text-decoration: solid;">DEMO FILE</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4">
                    <img class="card-img-top" src="Image/shopping.svg" alt="Card image" style="width:100%; height: 225px; text-align: center;">
                    <div class="card-body">
                        <h4 class="card-title" style="text-align: center; text-decoration: solid;">CHECK PRICE/PURCHASE THE SOFTWARE</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4">
                    <img class="card-img-top" src="Image/log-in.svg" alt="Card image" style="width:100%; height: 225px; text-align: center;">
                    <div class="card-body">
                        <h4 class="card-title" style="text-align: center; text-decoration: solid;">INPUT REGSTRATION CODE </h4>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <br>

</body>

</html>